body,
html {
    text-align: center;
    text-transform: uppercase;
    font-family: Lato;
    font-weight: 300;
}

hr {
    margin: 50px;
}

.btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #fcad26;
    font-size: 16px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px 80px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 6px #efa424;
}

.btn:hover {
    box-shadow: 0 4px #efa424;
    top: 2px;
}

.btn:active {
    box-shadow: none;
    top: 6px;
}

#first-animation p {
    height: 200px;
    width: 200px;
    background-color: #838342;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.animated:hover {
    transition: all 600ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transform: translateX(300px);
}

.box:hover {
    background: #e74c3c;
    transform-origin: top left;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}

#transform-example p {
    margin-left: 50px;
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
    border: 2px solid black;
    transition-duratrion: .75s;
    -webkit-transition-duration: .75s;
    -moz-transition-duration: .75s;
    -ms-transition-duration: .75s;
    -o-transition-duration: .75s;
}

#rotations-example p {
    margin-left: 50px;
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
    border: 2px solid black;
}

p.move-right {
    background-color: #3498db;
    transform: translateX(100px);
}

p.move-down {
    background-color: #f1c40f;
    transform: translateY(20px);
}

#transform-example p:hover {
    transform: translate(20px, 20px);
}

.transformed {
    background-color: #3498db;
    transform-origin: left;
    transform: scale(.5, 2);
}

.rotated {
    background-color: #9b59b6;
    transform-origin: right bottom;
    transform: rotate(45deg);
}